
@{
    ViewBag.Title = "Kontakt";
}
<br />
<br />
<br />
<br />

<div class="container">
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11610.332969541245!2d21.8983322!3d43.322983!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a6af2ff43ad1b0!2sOficirski+Dom!5e0!3m2!1ssr!2srs!4v1488304584648"></iframe>
        </div>
    </div>
    <div class="col-md-6">

        <h2>@ViewBag.Title.</h2>

        <address>
            Jeronimova 2<br />
            18000 Niš<br />
            Telefon:
            018/555-333
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:Support@example.com">admin@portal.com</a><br />
        </address>
    </div>


</div>